/* 
BLUE 1: #072AC8

BLUE 2: #43D2FF

BLUE 3: #A2D6F9

BLUE 4: #D1EDFF

GREY 1: #292E47

GREY 2: #6B708D

GREY 3: #F2F4FC

GREY 4: #ECF7FF

YELLOW: #FFC600 
*/

*{
  margin: 0;
}
html, body, section, article{
    margin: 0;
    background-color:#F2F4FC;
}

/* FONTS STYLING */

html{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h1{
  font-size: 3.75rem;
  font-weight: 700;
  color: #292E47;
}

h2{
  font-size: 3.125rem;
  font-weight: 700;
}

h3{
  font-size: 2.5rem;
  font-weight: 700;
  color: #292E47;
}

h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: #292E47;
}

.body-intro-24{
  font-size: 1.5rem;
  font-weight: 500;
}

.body-intro-20{
  font-size: 1.25rem;
  font-weight: 400;
  color:#6B708D;
}

.headline-text-reg{
  font-size: 1.063rem;
  font-weight: 400;
  color:#6B708D;
}

.headline-text-med{
  font-size: 1.063rem;
  font-weight: 700;
  color:#292E47;
}

.caption1{
  font-size: 0.938rem;
  font-weight: 400;
}

.caption2{
  font-size: 0.813rem;
  font-weight: 400;
}


/* STYLES FOR HEADER DESKTOP */

header{
  width: 85%;
  margin: auto;
  margin-bottom: 7rem;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3.5rem;
  min-height: 3rem;
}

#home-logo{
  margin-bottom: 0.5rem;
  width: 4.5rem;
  transition: 0.1s ease-in-out all;
}

#home-logo:hover{
  transform: translateY(-0.1rem);
}

.nav-list{
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  display: flex;
  width: 40%;
  justify-content: space-evenly; 
  box-sizing: border-box; 
}

.nav-list li{
list-style: none;

}

li a{
  text-decoration: none;
  color: #6B708D;
  font-weight: 500;
  font-size: 1.063rem;
  transition: 0.15s ease-in-out;

}

li a:hover{
  color: #072AC8;
}

#homeNav{
  color: #072AC8;
  transition: 0.1s ease-in-out;
}

#homeNav:hover{
  color: #FFC600;
  font-weight: 800;
}

.btnBlue{
  border: none;
  background-color: #072AC8;
  padding: 0.8rem 1.8rem;
  font-size: 1.063rem;
  color: #F2F4FC;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.btnBlue:hover{
  background-color: rgba(67, 210, 255, 0.6);
  color: #292E47;
  font-weight: 500;
  transform: translateY(-0.1rem);
  box-shadow: 3px 0px 30px rgba(67, 210, 255, 0.2); 
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color:#6B708D;
  transition: all 0.3s ease-in-out;
}

/* STYLES FOR HEADER MOBILE */                 

@media (max-width: 800px ) {

  #nav-button-a{
    display: none;
  }

  .nav-list{
    width: 100%;   
  }
}


@media (max-width: 480px ){

  .hamburger{
    display: block;
    margin-bottom: 0.5rem;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-link{
    margin: 16px 0;
  }

  .nav-list.active{
    left: 0;
  }
}



/* STYLES SECTION 1 */

#hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
}

#hero-img{
  width: 100%;
}

#home-img{
  position: relative;
}

.c1{
  width: 60%;
  position: absolute;
  top: -4%;
  left: -12%;
}

.c2{
  width: 50%;
  position: absolute;
  bottom: -15%;
  right: -5%;
}

#homeClaimer h1{
  margin-bottom: 2rem;
}

#homeClaimer p{
  margin-bottom: 2rem;
}

.btn-projects{
  border: none;
  text-decoration: none;
  color: #6B708D;
  cursor: pointer;
  margin-left: 1rem;
  background-color: #F2F4FC;
  transition: 0.2s ease-in-out all;
  font-weight: 500;
}

.btn-projects:hover{
  color: #292E47;
  font-weight: 600;
}

/* SECTION 1 RESPONSIVE */

@media(max-width: 1023px){

  #hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #homeClaimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
    margin-top: 3rem;
  }

  #homeClaimer h1{
   text-align: center;
  }

  #homeClaimer p{
    text-align: center;
   }
  
}


@media(max-width: 500px){
  #homeClaimer h1{
    font-size: 2.5rem;
   }

   #homeClaimer p{
    font-size: 1.1rem;
   }

   .btn-projects{
    padding: 0;
    padding-left: 0.5rem;
    font-size: 0.8rem;
   }

   .btnContact{
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
   }
}


/* STYLES SECTION 2 */


#logo-slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 13rem;
}

#logo-slider img{
  filter: grayscale(100%);
}


/* RESPONSIVE SECTION 2 */

@media(max-width: 870px){
  #logo-slider img{
    width: 15%;
  }
}

@media(max-width: 550px){
    #logo-slider{
      display: none;
    }

    #hero-section{
      margin-bottom: 7rem;
    }
    
}

/* STYLES SECTION 3 */

#projects-section{
  width: 85%;
  margin: auto;
  box-sizing: border-box;
}

.article-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projects-article{
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 49px 79px 0px rgba(41,46,71,0.20);
  margin-top: 4rem;
  box-sizing: border-box;

}

.projects-article h4{ 
  padding-top: 2rem;
  padding-left: 2rem;
}

.projects-article p{ 
  padding-top: 1rem;
  padding-left: 2rem;
}

.projects-article a{ 
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.projects-article img{
  width: 340px;
  height: 240px;
}

.learn-more-div{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.learn-more-div a{
  text-decoration: none;
  color: #072AC8;
  cursor: pointer;
  transition: 0.1s ease-in-out all;
}

.learn-more-div a:hover{
  font-weight: 600;
}


/* RESPONSIVE SECTION 3 */

@media(max-width: 1270px){
  .projects-article img{
    width: 270px;
    height: 170px;
  } 

}

@media(max-width: 1023px){
  .article-row{
    flex-direction: column;
    width: 100%;
  }

  .projects-article{
    width: 100%;
    margin-bottom: 1rem;    
  }

  .projects-article img{
    width: 100%;
    height: 50%;
  }

  .article-content{
    box-sizing: border-box;
    padding-top: 2rem;
  }
  
}




/* STYLES SECTION 4 */

#testimonial-section{
  background-color: #292E47;
  position: relative;
  background-image: url(../img/testimonial-section/orbit.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 13rem;
  margin-bottom: 6rem;
  height: 60vh;
  width: 90%;
  display: flex;
  justify-content: center;
}

.testimonial{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
  gap: 1rem;
}

#testimonial-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-emoji{
  width: 100px;
}

#kristin-profile{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.column-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#testimonial-title{
  color: #F2F4FC;
  margin-top: 6rem;
}

.testimonial-quote{
  color: #FFC600;
  margin-top: 5rem;
  text-align: center;
}

.caption1.blue{
  color: #D1EDFF;
}

#booking-text{
  color: white;
  margin-top: 0.2rem;
}

.emoji1{
  position: absolute;
  top: 10%;
  left: 6%;
}

.emoji2{
  position: absolute;
  top: 10%;
  right: 6%;
}

.emoji3{
  position: absolute;
  bottom: 15%;
  left: 6%;
}

.emoji4{
  position: absolute;
  bottom: 15%;
  right: 6%;
}

/* RESPONSIVE SECTION 4 */

@media(max-width: 1270px){
  #testimonial-section{
    margin-top: 6rem;
  }

}

@media(max-width: 1023px){
  .testimonial-emoji{
    display: none;
  }

  #testimonial-title{
    text-align: center;
    margin: 3rem auto;
    width: 80%;
    margin-top: 6rem;
  }

  .testimonial-quote{
    text-align: center;
    margin: auto;
    width: 80%;
  }

  #testimonial-section{
    margin-top: 4rem;
  }
}

@media(max-width: 490px){
  #testimonial-title{
    font-size: 2rem;
  }

  .testimonial-quote{
    font-size: 1rem;
  }
}



/* STYLES SECTION 5 */

#services-section{  
 width: 85%;
 margin: auto;
}

#services-section h3{
  margin-bottom: 4rem;
}

.services-article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 50vh;
  box-shadow: 2px 49px 79px 0px rgba(41,46,71,0.20);
  width: 30%;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.services-article a{
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.services-article img{
  width: 40px;
}

.services-article h4{
  margin-left: 2rem;
  margin-right: 3rem;
}

.services-article p{
  margin-left: 2rem;
  margin-right: 3rem;
}

.img-circle{
  width: 80px;
  height: 80px;
  background-color: #F2F4FC;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

/* RESPONSIVE SECTION 5 */

@media(max-width: 1023px){

  .services-article{
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    align-items: center;
    height: 60vh;    
  }
}

@media(max-width: 550px){

  .services-article{
    width: 100%;
    margin-bottom: 4rem;
    text-align: left;
    align-items: flex-start;    
  }
}

/* STYLES SECTION 6 */

#newsletter{
  background-color: #FFC600;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  padding: 10rem 2rem;
  box-sizing: border-box;
}

.btn-subscribe{
  border: none;
  background-color: #072AC8;
  padding: 1.5rem 2.5rem;
  font-size: 1.063rem;
  color: #F2F4FC;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.btn-subscribe:hover{
  background-color: rgba(67, 210, 255, 1);
  color: #292E47;
  font-weight: 500;
}

.newsletter-email{
    padding: 1.5rem 3rem;
    background: url("../img/newsletter/icon/mail.svg") no-repeat 6% 50%;
    background-size: 20px;
    background-color: white;
    border: none;
    font-size: 1.063rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  } 

  #subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
  }

  #subscribe a{
    width: 60%;
  }

  #newsletter p{
    margin-top: 1rem;
    color: #292E47;
  }
  

  /* RESPONSIVE SECTION 6 */

  @media(max-width: 1023px){
    #newsletter{
      text-align: center;
      margin-top: 6rem;
    }
  }

  @media(max-width: 650px){

    #newsletter{
      padding-top: 3rem;
      padding-bottom: 4rem;
    }
    #subscribe{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .newsletter-email{
      width: 100%;
      text-align: center;
    }

    #subscribe a{
      width: 100%;
    }
  }

  /* STYLES FOOTER */

  #footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    margin-top: 5rem;
    box-sizing: border-box;
  }

  #footer-logo{
    width: 100px;
  }
  
  #address{
    color: #6B708D;
    line-height: 25px;
    margin-top: 1rem;
  }

  .footer-links{
    text-decoration: none;
    color:#6B708D;
    transition: 0.1s ease-in-out all;
  }

  .footer-links:hover{
    color: #292E47;
    font-weight: 400;
  }

  #footer-links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
  }

  .links-container{
    display: flex;
    gap: 5rem;
  }

  /* RESPONSIVE FOOTER */

  @media(max-width: 780px){
    #footer{
      flex-direction: column;
      justify-content: space-around;
      margin-top: 5rem;
    }
    
    #addressBox{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .links-container{
      justify-content: space-between;
    }
    #footer-links-container{
      width: 100%;
    }
  }






























